@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/OpenSans-Regular.woff2) format('woff2')
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F


body
  font-family: "Open Sans", sans-serif
  margin: 0
  overflow: hidden

.game-view
  position: absolute

.html-edit-tools
  position: absolute
  z-index: 10
  color: white
  overflow: auto
  height: 75px
  margin-left: 100px
  width: calc(100% - 100px)

  ul
    text-align: right

    li
      display: inline-block

.html-edit-inspector
  position: absolute
  z-index: 10
  margin-top: 75px
  float: right
  color: white
  left: calc(100% - 300px)
  width: 300px
  height: calc(100% - 75px)
  overflow: auto

  ul
    padding: 0

  h1
    font-size: 1em
    font-weight: bold

  h2
    font-size: 0.9em
    font-weight: bold

  h3
    font-size: 0.8em
    font-weight: bold

.horizontal-menu li
  display: inline-block

.ui-indent
  padding-left: 1em

.ui-button
  display: inline-block
  padding: 0.5em 1.2em
  margin: 0 0.3em 0.3em 0
  border-radius: 0.6em
  border: 0
  box-sizing: border-box
  text-decoration: none
  text-transform: uppercase
  font-weight: 400
  color: #FFFFFF
  background-color: #3369ff
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17)
  text-align: center
  position: relative

  &:active
    top: 0.1em

@media all and (max-width: 30em)
  .ui-button
    display: block
    margin: 0.4em auto

.html-edit-inspector
  .button-item
    margin: 3px 10px
    width: calc(100% - 20px)

  input, select
    padding: 0.7em 1.4em
    margin: 0 0.3em 0.3em 0
    border-radius: 0.2em
    box-sizing: border-box
    color: #FFFFFF
    background-color: #3369ff
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17)
    border: 0

  input[type="color"]
    padding: 0


.button-item
  text-align: center
  cursor: pointer
  margin: 2px
  border-radius: 4px
  color: #FFFFFF
  background-color: #234280
  border: none
  padding: 12px
  width: calc(100% - 4px)
  transition: all 0.5s
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17)

  span
    cursor: pointer
    display: inline-block
    position: relative
    transition: 0.5s

    &:before
      content: '»'
      position: absolute
      opacity: 0
      top: 0
      left: -20px
      transition: 0.5s


  &:hover
    span
      padding-left: 25px

      &:before
        opacity: 1
        left: 0
